<div class="product-detail">
    <div class="product">
        <div class="product__images">
            <div class="product__main-image">
                <img src="{{ product.image.thumb(600, auto) }}" alt=""/>
            </div>
            {% partial __SELF__ ~ '::image-grid.htm' images = product.additionalImages %}
        </div>
        <div class="product__information">
            <h2 class="product__name">
                {{ product.name }}
            </h2>
            <h3 class="product__description-short">
                {{ product.description_short }}
            </h3>
            <div class="product__description">
                {{ product.description | raw }}
            </div>
            <div class="product__additional-data">
                {% partial __SELF__ ~ '::properties.htm' properties = product.properties %}
                {% partial __SELF__ ~ '::links.htm' links = product.links %}
            </div>
            <div class="product__price" data-snipcart-price="{{ product.getPriceInCurrency() }}">
                {{ product.priceFormatted | raw }}
            </div>
            {% if displayCustomFields and product.custom_fields %}
                {% partial __SELF__ ~ '::custom-fields.htm' custom_fields = product.custom_fields %}
            {% endif %}
            <div class="product__add-to-cart">
                {% if not autoPop %}
                    {# To give the user a feedback we use the october native #}
                    {# flash massages if the autoPop feature is disabled #}
                    <form data-request="onAdd" data-request-flash id="triggerFlash">
                        <button class="snipcart-add-item" {{ product.dataAttributes | raw }}
                                onClick="$('#triggerFlash').request('onAdd')">
                            {{ 'cart.add'|_ }}
                        </button>
                    </form>
                {% else %}
                    {# Otherwise just let snipcart handle the feedback #}
                    <button class="snipcart-add-item" {{ product.dataAttributes | raw }}>
                        {{ 'cart.add'|_ }}
                    </button>
                {% endif %}
            </div>
            {% if product.accessories.count %}
                {% partial __SELF__ ~ '::accessories' accessories = product.accessories %}
            {% endif %}
            {% if product.is_accessory_of.count %}
                {% partial __SELF__ ~ '::accessories' accessories = product.is_accessory_of %}
            {% endif %}
        </div>

    </div>
</div>